var pca_location_holder_id = "pc_access_holder_location-<%= @location.id %>";
var pca_area_div = "<%= j render @area, formats: [:html], locals: { show: "public" } %>";

if ( $("#" + pca_location_holder_id).length == 1 ) {
   $("#" + pca_location_holder_id).empty();
    $("#" + pca_location_holder_id).append(pca_area_div);
} else {
  document.write("<div id='" + pca_location_holder_id + "'>" + pca_area_div + "</div>");
}
