<% title "Floors" %>

<% sidebar do  %>
  <%= link_to '<i class="fa fa-plus"></i> Add a new floor'.html_safe, new_location_floor_path(@location), class: "btn btn-primary", data: { remote: true } %>
<% end %>

<table id="floors" class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Map</th>
      <th>Position</th>
			<th>Areas</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @floors.each do |floor| %>
      <%= render "floor", floor: floor, show: "tr" %>
    <% end %>
  </tbody>
</table>

<br>
