<% title "Nerve Centre" %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Current Activity By Location</h3>
  </div>
  <div class="panel-body">
    <%= content_tag :div, "", id: "by_location_activity", data: { computers: location_activity_chart_data }  %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current Activity By Status</h3>
      </div>
      <div class="panel-body">
        <%= content_tag :div, "", id: "by_status_of_activity", data: { computers: by_status_of_activity_chart_data }  %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Not Being Used</h3>
      </div>
      <div class="panel-body">
        <%= content_tag :div, "", id: "troubled_computers", data: { computers: troubled_computers_chart_data }  %>
      </div>
    </div>
  </div>
</div>
