<% title "Locations" %>

<% sidebar do  %>
  <%= link_to '<i class="fa fa-plus"></i> Add a new location'.html_safe, new_location_path, class: "btn btn-primary", data: { remote: true } %>
<% end %>

<table id="locations" class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>IP Subnet</th>
      <th>Map</th>
      <th>Computers</th>
			<th>Images</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <%= render location, locals: { table: true } %>
    <% end %>
  </tbody>
</table>

<br>
