<% title "Location: #{@location.name}" %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Location Details</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" id="floors">
          <% @location.floors.each do |floor| %>
              <%= render floor, locals: { show: "ul" } %>
          <% end %>
        </ul>
        <hr/>
        <%= link_to new_location_floor_path(@location), class: "btn btn-link green", data: { remote: true }  do%>
          <i class="fa fa-plus"></i> Add a new floor
        <% end %>
      </div>
      <div class="col-md-6">      
        <div id="floors">
        </div>
      </div>
    </div>


  </div>
</div>
