<% title "Image Details" %>

<div class="ibox">
  <div class="ibox-content">
    <%= render @image, show: "div" %>
    <br/>

    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-hover">
            <tr id="new_image_form">
              <td>
                <span class="label label-success">+</span>
              </td>
              <td>
                <input type="text" class="form-control input-sm" placeholder="Software Name"/>
              </td>
              <td>
                <input type="text" class="form-control input-sm" placeholder="Version"/>
              </td>
              <td>
                <input type="text" class="form-control input-sm" placeholder="Note"/>
              </td>
              <td class="text-right">
                <button class="btn btn-success btn-sm"> + Add </button>
              </td>
            </tr>
            <% 5.times do %>
              <tr>
                <td>
                  <span class="label label-primary">s</span>
                </td>
                <td>
                  Microsoft Word 2007
                </td>
                <td>
                  2007
                </td>
                <td>
                  <small>Unlimited Use</small>
                </td>
                <td class="text-right">
                  <button class="btn btn-white btn-xs"> Edit</button>
                  <button class="btn btn-white btn-xs"> &times; </button>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <% @image.computers.each do |c| %>
          <%= c.ip %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to '<i class="fa fa-backward"></i> Back To List'.html_safe, images_path, class: "btn btn-default" %>
<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_image_path(@image), class: "btn btn-default" %>
