<% title "Image Details" %>

<div class="ibox">
  <div class="ibox-content">
    <%= render @image, show: "div" %>
    <hr/>

    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-hover">
            <% 5.times do %>
            <tr>
                                  <td>
                                      <span class="label label-primary">Added</span>
                                  </td>
                                  <td class="issue-info">
                                      <a href="#">
                                          ISSUE-23
                                      </a>

                                      <small>
                                          This is issue with the coresponding note
                                      </small>
                                  </td>
                                  <td>
                                      Adrian Novak
                                  </td>
                                  <td>
                                      12.02.2015 10:00 am
                                  </td>
                                  <td>
                                      <span class="pie" style="display: none;">0.52,1.041</span><svg class="peity" height="16" width="16"><path d="M 8 8 L 8 0 A 8 8 0 0 1 14.933563796318165 11.990700825968545 Z" fill="#1ab394"/><path d="M 8 8 L 14.933563796318165 11.990700825968545 A 8 8 0 1 1 7.999999999999998 0 Z" fill="#d7d7d7"/></svg>
                                      2d
                                  </td>
                                  <td class="text-right">
                                      <button class="btn btn-white btn-xs"> Tag</button>
                                      <button class="btn btn-white btn-xs"> Mag</button>
                                      <button class="btn btn-white btn-xs"> Rag</button>
                                  </td>
                              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <% @image.computers.each do |c| %>
          <%= c.ip %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to '<i class="fa fa-backward"></i> Back To List'.html_safe, images_path, class: "btn btn-default" %>
<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_image_path(@image), class: "btn btn-default" %>
